#customerTable thead th {
    background-color: #343a40;
    color: #ffffff;
}

#customerTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customerTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#customerTable tbody tr:hover {
    background-color: #e9ecef;
}